.title {
    cursor: pointer;
    float: left;
}

.appBar-override-styles {
    background-color: #0A163D !important;
    color: #FFF0B5 !important;
}

.login-button {
    color: #B3E5FC !important;
    height: 48px !important;
}

.logout-button {
    color: #F4162A !important;
    height: 48px !important;
}




.menu-bar-buttons {

}
