

.tasks-wrapper {
    margin-top: 50px;
}

.optionals {
    width: 100%;
    background-color: #B3E5FC;
}

.moderates {
    width: 100%;
    background-color: crimson;
}

.urgents {
    width: 100%;
    background-color: black;
}

.task-paper {
    height: 150px !important;
    width: 150px !important;
    margin: 10px !important;
    text-align: center !important;
    display: inline-flex !important;
    padding: 8px !important;
}

.selected-task-paper {
    height: 150px !important;
    width: 150px !important;
    margin: 10px !important;
    text-align: center !important;
    display: inline-flex !important;
    padding: 8px !important;
    border-style: solid;
    border-width: 5px;
    border-color: red;
}